.gabarito-webfont {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40;
  font-style: normal;
}

* {
  font-family: "Gabarito";
  a {
    color: var(--link-color);
    text-decoration: none;
  }
  a:hover,
  a:visited {
    color: var(--link-visited);
  }
}

:root {
  --border-radius-base: 1.5rem;
  --fg-color: #f3f4f4;
  --bg-color: #061e29;
  --headings-color: #e8f0ff;
  --footer-bg: #0b3041;
  --accent-1: #1d546d;
  --accent-2: #5f9598;
  --link-color: #87cefa;
  --link-visited: #bb86fc;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

.main-header {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .profile {
    float: right;
    width: 7rem;
    height: 7rem;
    border-radius: 1rem;
  }
}

.section {
  text-align: center;
  padding: 1rem 6rem;
  .section-header {
    color: var(--headings-color);
  }
}

.projects {
  padding: 2rem 7rem;
  margin: 0 auto;
  max-width: 45rem;
  .project-item {
    border-radius: var(--border-radius-base);
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: var(--accent-1);
  }
  .project-img {
    width: 25rem;
  }
}

.contact {
  button {
    background-color: var(--accent-1);
    border: none;
    width: 12em;
    height: 5em;
    border-radius: var(--border-radius-base);
    a {
      color: var(--fg-color);
    }
  }
}

.main-footer {
  background-color: var(--footer-bg);
  padding: 1.5rem 1rem;
  text-align: center;
}
