.gabarito-webfont {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40;
  font-style: normal;
}

html {
  font-family: "Gabarito";
}

:root{
  --color-bg : #ffffff;
  --color-fg : #000000;
  --accent : #0071ff;
  --color-high : #EEEEEE;
}

.dark-mode {
  --color-fg: #ffffff;
  --color-bg: #212121;
  --accent: #0071ff;
  --color-high : #1d1d1d;
}

img.sticklogo {

  width: 50%;
  position: static;
  top: 0;
  display: block;
  margin: 0 auto;
}

#toggle {
  margin: 1%;
  padding: 1.5%;
  border: 0.1% solid;
  border-radius: 50%;
  background: var(--color-bg);
  position: fixed;
  right: 0%;
  top: 0%;
}

#toggle svg{
  fill: var(--color-fg);
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

header {
  text-align: center;
  h2 {
    text-decoration: underline;
  }
}

#underConstruction {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 35px;
  background-color: black;
  color: white;
}

.about-div {
  border-radius: 12%;
  background: var(--color-high);
  padding: 8%;
  text-align: center;
  margin: 6%;
}

#toggle svg:last-child{
  display: none;
}

.dark-mode #toggle svg:first-child{
  display: none;
}

.dark-mode #toggle svg:last-child{
  display: block;
}